<div class="todo-container">
  <h1>To-Do-Liste</h1>

  <table *ngIf="todoelements">
    <thead>
      <tr>
        <th>Titel</th>
        <th>Beschreibung</th>
        <th>Fällig bis</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todoelement of todoelements">
        <td>{{ todoelement.toDoName}}</td>
        <td>{{ todoelement.toDoDescription}}</td>
        <td>{{ todoelement.toDoDueDate}}</td>
      </tr>
    </tbody>
  </table>

  <button (click)="createNewToDo()">Neues To Do</button>
</div>
